<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.richard.demo.dao.UserMapper">

	<insert id="insertUser" parameterType="com.richard.demo.entity.User">

		insert into users(name,age) values(#{name},#{age})
	</insert>

	<select id="findAll" resultType="com.richard.demo.entity.User">
		select id,name,age from users
	</select>

	<select id="findUserById" resultType="com.richard.demo.entity.User">
			select id,name,age from users where id = #{id}
	</select>

	<select id="findUserByName" resultType="com.richard.demo.entity.User">
			select id,name,age from users where name = #{name}
	</select>

	<update id="updateUser" parameterType="com.richard.demo.entity.User">
		update users set name=#{name}, age=#{age} where id=#{id}
	</update>

	<delete id="deleteUser" flushCache="true" statementType="PREPARED" timeout="20">
		delete from users where id = #{id}
	</delete>

</mapper>